* {
    background: rgb(226, 227, 221);
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 150px 100px;
    font-family: 'Yuji Syuku', serif;
}

h1 {
    padding-bottom: 50px;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 100px;
    border-bottom: 1px solid rgb(50, 50, 50);
}
p {
    font-size: 2rem;
    line-height: 3rem;
}
span {
    color: gray;
    font-size: 1.5rem;
    padding-left: 2rem;
}